* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header {
    background-color: #42032C;
    color: #E6D2AA;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 6rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#selfie {
    max-height: 25em;
    margin: 10em 0em;
}

nav {
}

ul {

}

li {
    display: inline-block;
}

li a {
    color: #E6D2AA;
}

footer {
    text-align: center;
}

figure {
    outline
}